.icon-text-spacing {
  margin-left: 5px; /* Adjust this value to increase or decrease the spacing */
}

.header {
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  margin-bottom: 100px;
  background-color: #febe7e;
}

.first-color {
  background: #57385c;
}

.second-color {
  background: #a75265;
}

.third-color {
  background: #ec7263;
}

.fourth-color {
  background: #febe7e;
}
