<header>
<!-- Jumbotron -->
  <div class="p-3 text-center bg-white border-bottom">
    <div class="container">
      <div class="row gy-3">
        <!-- Left elements -->
        <div class="col-lg-2 col-sm-4 col-4">
          <a class="float-start" href="/">
            <img src="/assets/icons/house-fill.svg" height="35" />
          </a>
        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="d-flex float-end">
            <ng-container *ngIf="isLoggedIn()">
              <a href="/" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                <img src="/assets/icons/person-fill.svg" alt="profile">
                <p class="d-none d-md-block mb-0 icon-text-spacing"> Account: {{ getUsername() }}</p>
              </a>

              <a href="/" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                <img src="/assets/icons/person-fill.svg" alt="profile">
                <p class="d-none d-md-block mb-0 icon-text-spacing"(click)="logOut()">Sign Out</p>
              </a>
            </ng-container>
            <ng-container *ngIf="!isLoggedIn()">
              <!-- Sign in button when not logged in -->
              <a href="/login" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center">
                <img src="/assets/icons/person-fill.svg" alt="profile">
                <p class="d-none d-md-block mb-0 icon-text-spacing">Sign in</p>
              </a>
            </ng-container>
            <a class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank"> <img src="/assets/icons/bookmark-heart-fill.svg" alt="wishlist"><p class="d-none d-md-block mb-0 icon-text-spacing">Saved</p> </a>
          </div>
        </div>
        <!-- Center elements -->

        <!-- Right elements -->
        <div class="col-lg-5 col-md-12 col-12">
          <div class="input-group float-center">
            <div class="form-outline">
              <input type="search" id="form1" class="form-control" placeholder="Search" />
            </div>
            <button type="button" class="btn btn-primary shadow-0">
              <img src="/assets/icons/search.svg" alt="search">
            </button>
          </div>
        </div>
        <!-- Right elements -->
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container justify-content-center justify-content-md-between">
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Account</a>
          </li>
          <li>
            <a class="nav-link" href="/upload">Upload</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
