
<!-- Images -->
<section>
  <div class="container">
    <div class="row" id="cardContainer">
    </div>
  </div>
</section>
<!-- Images -->




<!-- Recently viewed -->
<section class="mt-5 mb-4">
  <div class="container text-dark">
    <header>
      <h3 class="section-title">Recently viewed</h3>
    </header>

    <div class="row" style="overflow-x: auto; display: flex; flex-wrap: nowrap;">
      <div class="card-group">
        <div *ngIf="recentlyViewedProducts.length == 0" class="card m-0 p-2" style="max-width: 10vw; flex: 0 0 10vw">
          <h5 class="card-title"><a href="/products">Start Exploring</a></h5>
        </div>
        <div *ngFor="let post of recentlyViewedProducts" class="card m-0 p-2" style="max-width: 10vw; flex: 0 0 10vw"
          (click)="redirectToImage(post.id)">
          <h5 class="card-title">{{ post.userName }}</h5>
            <p class="card-text">{{ post.caption }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Recently viewed -->


  <section>
  <div class="container">
    <div class="px-4 pt-3 border">
      <div class="row pt-1">
        <div class="col-lg-3 col-md-6 mb-3 d-flex">
          <div class="d-flex align-items-center">
            <div class="badge badge-warning p-2 rounded-4 me-3">
              <i class="fas fa-thumbs-up fa-2x fa-fw"></i>
            </div>
            <span class="info">
              <h6 class="title">Reasonable prices</h6>
              <p class="mb-0">Have you ever finally just</p>
            </span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-3 d-flex">
          <div class="d-flex align-items-center">
            <div class="badge badge-warning p-2 rounded-4 me-3">
              <i class="fas fa-plane fa-2x fa-fw"></i>
            </div>
            <span class="info">
              <h6 class="title">Worldwide shipping</h6>
              <p class="mb-0">Have you ever finally just</p>
            </span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-3 d-flex">
          <div class="d-flex align-items-center">
            <div class="badge badge-warning p-2 rounded-4 me-3">
              <i class="fas fa-star fa-2x fa-fw"></i>
            </div>
            <span class="info">
              <h6 class="title">Best ratings</h6>
              <p class="mb-0">Have you ever finally just</p>
            </span>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-3 d-flex">
          <div class="d-flex align-items-center">
            <div class="badge badge-warning p-2 rounded-4 me-3">
              <i class="fas fa-phone-alt fa-2x fa-fw"></i>
            </div>
            <span class="info">
              <h6 class="title">Help center</h6>
              <p class="mb-0">Have you ever finally just</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<ng-container-->
<!--  *ngIf = "authService.isAuthenticated$ | async;-->
<!-- else loggedOut">-->
<!--  <button class="btn btn-primary"-->
<!--          (click)="authService.logout()">Logout</button>-->
<!--</ng-container>-->

<!--<ng-template #loggedOut>-->
<!--  <button class="btn btn-primary"-->
<!--          (click)="authService.loginWithRedirect()">-->
<!--    Login</button>-->
<!--</ng-template>-->
